@import (less) "node_modules/bootstrap/dist/css/bootstrap.css";

.container-fluid{
    padding:1vmin;
    background: #FAFAFA;
    position: relative;
}
.row{
    max-height:100vmin;
}
.data{
    background: #F0F0F0;
    min-height: 100vh;
    padding: 0vmin;
    z-index: 50;
    border:solid 1vmin #FAFAFA;
}
.lines{
    min-width: 11.11111%;
}
.title{
    background-color: #FAFAFA;
    min-width: 100%;
    padding:10px;
    font-family: "Segoe UI",Regular;
    font-size: 1.5vmax;

}
.panel{
    position: relative;
    padding:1vmin;
    min-height:15vmin;
}
.panel .head{
    position: absolute;
    max-width: 60%;
    top:1vmax;
    left:5vmax;
    max-height: 8vh;
    overflow-wrap: break-word;
    overflow-y: hidden;
    font-family: "Segoe UI",Regular;
    font-size: 1.2vmax;
    color:#333333;
}
.panel .metric{
    position: absolute;
    max-width: 50%;
    bottom:6%;
    left:25%;
    font-family: "Segoe UI",Regular;
    font-size: 1.8vmax;
    color:#333333;
}
#data2 .panel{
    min-height:25vmin;
}
#data2 .head{
    position: absolute;
    max-width: 60%;
    max-height: 50vmin;
}
#data2 .metric{
    bottom:1%;
}
#data3 .panel{
    min-height:14vmin;
    max-height:14vmin;
}
#data3 .head{
    min-height:5vmin;
    max-height:5vmin;
}
.connecting{
    position: absolute;
    min-width: 100%;
    min-height:100%;
}
#data1 circle{
    stroke: #122584;
    fill:#122584;
}